/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4uaVIUwaEQbjB_mQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVIUwaEQbjA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes slideInRight {
  from {
    transform: translateX(1000px);
  }
  to {
     transform: translateX(0px) scale(1);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-1000px);
  }
  to {
     transform: translateX(0px) scale(1);
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(1500px);
  }
  to {
     transform: translateY(0px) scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
     opacity: 1 scale(1);
  }
}

@keyframes colorIn {
  from {
    filter: grayscale(100%);
  }
  to {
    filter: grayscale(0%) scale(1);
  }
}

body {
  background: linear-gradient(
    90deg,
    #C3DFEA,
    #FFFFFF
  );
}
.match-info {
  display: inline-flex;
}
.flag {
  height: 24px;
  padding-right: 8px;
  padding-left: 8px;
}
.final-container {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding: 16px;
  display: block;
}
.final-header {
  font-size: 24px;



}
.date {
  color: #222831;
}
.line {
  background-color: black;
  height: 2px;
}

.semi-matches {
  display: block;
  padding: 16px;
}
.match-card {
  display: block;
  border: 1px solid;
  padding: 16px;
  border-radius: 5px;
  background-color: #194D33;
  animation: fadeIn 1s;
}
.all {
  background-color: #222831;
  color: #EEEEEE;
}